<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >ITS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if incharge_signed_in? %>
  		<li class="nav-item">
          <%= link_to "Edit Profile", edit_incharge_registration_path, class:"nav-link active"  %>
  		</li>
  		<li class="nav-item">
          <%= link_to "Sign Out", destroy_incharge_session_path, method: :delete, class:"nav-link active"  %>
  		</li>
      <% if current_incharge.user==false && current_incharge.admin==false %>
        <li class="nav-item">
          <%= link_to "Add Item", new_item_path, class:"nav-link active"  %>
  		</li>
      <%end%>
  		<li class="nav-item">
          <%= link_to "Show Items", items_path, class:"nav-link active"  %>
  		</li>
  		<% else %> 
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link active"  %>
        </li>
        <li class="nav-item">
          <%= link_to "About Us", home_about_path, class:"nav-link active"  %>
        </li>
		  </ul>

      <ul>
  		<li class="nav-item">
          <u><%= link_to "LOGIN", new_incharge_session_path, class:"btn btn-secondary" %></u>
  		</li>
  		<% end %>
      </ul>
      
    </div>
  </div>
</nav>